@use "../base/variables" as vars;
@use "../base/mixins" as mixins;

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;

    &__link {
        font-size: 10px;
        color: rgb(4, 72, 72);
        background-color: #fff;
        padding: 4px 10px;
        border-radius: 20px;
        box-shadow: 0px 0px 15px 0px rgb(6, 227, 227);
        transition: box-shadow 0.3s;
    }
}

@media (hover: hover) {
    .footer {
        &__link:hover {
            box-shadow: 0px 0px 12px 0px rgb(6, 227, 227);
        }
    }
}
