@use "../base/variables" as vars;
@use "../base/mixins" as mixins;

.hero {
    background-color: #000;
    height: 100vh;

    &__content {
        display: flex;
        height: 100%;
        font-size: 24px;
    }

    &__bg {
        width: 100px;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: -33px;
        overflow: hidden;
        background-image: url("../assets/images/bg-main.png");
        background-size: contain;
        transform: scale(-1, -1);

        &--mobile {
            display: none;
        }
    }

    &__social {
        display: flex;
        width: 100%;
        gap: 30px;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;

        & svg {
            width: 30px;
            height: 30px;
        }
    }

    &__social-link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 4px;

        color: #fff;

        &::before {
            @include mixins.pseudo();
            top: -5px;
            left: -5px;
            width: 120%;
            height: 120%;
            background-color: transparent;
            mask-image: url("../assets/images/mask.png");
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            transform: rotate(90deg);

            -webkit-mask-image: url("../assets/images/mask.png");
            -webkit-mask-size: cover;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;

            transition: transform 0.3s, background-color 0.3s;
        }

        & svg {
            position: relative;
            z-index: 1;
            fill: currentColor;
        }
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: 2em 1em;
        text-align: center;
    }

    &__avatar {
        margin: 0 auto;
        width: 40%;
        aspect-ratio: 1;
        flex-shrink: 0;
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        & img {
            position: absolute;
            inset: 0;
            height: 110%;
            width: 110%;
            object-fit: cover;
            object-position: center center;
        }
    }

    &__preview {
        width: 50%;
        aspect-ratio: 1;
        min-height: 60vh;
        overflow: hidden;
        position: relative;

        & canvas {
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
            cursor: pointer;

            will-change: transform;
            transform: translateZ(0); /* форсирует аппаратное ускорение */
            touch-action: none; /* отключает нежелательное поведение при касании */
        }
    }
}

@media (hover: hover) {
    .hero {
        &__social-link:hover {
            &::before {
                background-color: #fff;
                transform: none;
            }

            color: red;
        }
    }
}

@media #{vars.$medium} {
    .hero {
        &__bg {
            left: -62px;
        }

        &__content {
            font-size: 18px;
        }
    }
}

@media #{vars.$small} {
    .hero {
        height: auto;

        &__bg {
            height: 60px;
            left: 0;
            top: -42px;
            width: 100%;
            background-image: url("../assets/images/bg-mobile.png");
            transform: none;

            &--mobile {
                display: flex;
                top: auto;
                bottom: -40px;
                transform: scale(-1, -1);
            }
        }

        &__content {
            flex-direction: column;
        }

        &__preview {
            width: 100%;
        }

        &__info {
            width: 100%;
            justify-content: center;
        }
    }
}
